body{
    font-family: 'Open Sans', sans-serif;
}

.main-nav{
    display: flex;
}
.main-nav h3{
    font-weight: 800;
    font-size: 45px;
}
.main-nav span{
    color: rgb(247, 73, 4);
}
.main-nav>ul{
    display: flex;
}
.main-nav li{
    list-style: none;
    margin-right: 50px;
}
.main-nav a{
    text-decoration: none;
    color: #474747;
}
.main-nav button{
    background-color: rgb(247, 73, 4);
    border: none;
    color: white;
    width: 70px;
    /* height: 25px; */
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}